<div>
    {{#each product}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.status}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.image}}</p>
    {{/each}}
    <a href=""><button>Agregar al Carrito</button></a>
</div>   
    